.app {
  max-width: 1200px;
  width: 1200px;
  min-height: 680px;
  margin: 0 auto;
  height: 100vh;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
}